.filter-container {
margin-left: 500px;
margin-top: 10px;
  }

select{
    padding: 5px;
    border-color: rgb(108,173,227);
    border-width: 5px;
    margin-left: 5px;
    border-radius: 5px;
}  
#filter{
    font-size: 20px;
}