.filter-container {
margin-left: 490px;
margin-top: 10px;
  }

select{
    padding: 5px;
    border-color: rgb(255,199,226);
    border-width: 5px;
    margin-left: 5px;
    border-radius: 5px;
}  
#filter{
    font-size: 20px;
}