#link{
    color: rgb(86, 86, 86);
  }
  #link:hover{
    color: rgb(61, 166, 252);
    cursor: pointer;
  }
  h2{
    color:#6cade3;;
  }
  #icon{
    font-size: 50px;
    margin-left: 90px;
  }
  h2{
    color: rgb(85,88,90);
  }